<% include ./partials/header %>
<link rel="stylesheet" href="/question.css">
</head>
<body>
        <div class="container">
                <div class="card my-5">
                  <div class="card-body">
                      <div id="question-no">
                        1/15
                      </div>
                      <div id="none-selected" class="hidden text-left">
                        Please select an option to continue!
                      </div>
                        <div id="question-title" class="card-title">
                          <%= questions[1].title %>
                        </div> 
            
                        <div id="options" class="m-2">
                          <div class="option row">
                            <div class="col-1"><strong>A</strong></div>
                            <div onclick="selectOption('a')" class="col-11 option-box" id="a"><%= questions[1].options.split(",")[0] %></div>
                          </div>
                          <div class="option row">
                              <div class="col-1"><strong>B</strong></div>
                              <div onclick="selectOption('b')" class="col-11 option-box" id="b"><%= questions[1].options.split(",")[1] %></div>
                            </div>
                            <div class="option row">
                                <div class="col-1"><strong>C</strong></div>
                                <div onclick="selectOption('c')" class="col-11 option-box" id="c"><%= questions[1].options.split(",")[2] %></div>
                              </div>
                              <div class="option row">
                                  <div class="col-1"><strong>D</strong></div>
                                  <div onclick="selectOption('d')" class="col-11 option-box" id="d"><%= questions[1].options.split(",")[3] %></div>
                                </div>
                        </div>
                      <div id="buttons">
                        <a id="leave-quiz" href="#">Leave the quiz</a>
                        <button (click)="submit()" class="btn btn-sm mr-2" id="accept">Next</button>
            
                      </div>
              
            
                  </div>
                </div>
              </div>
<script src="/scripts/question.js"></script>
<% include ./partials/footer %>